<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./lib/emojis.css">
    <script src="./lib/emojis.js"></script>
    <script src="./lib/emolist.js"></script>
</head>

<body>
        <div id="idTecladoEmojis">
                
        </div>
        <script>document.getElementsByTagName('body')[0].onload = function(){
            startEmojis('idTecladoEmojis');
        };</script>
</body>

</html>