<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/toastr.css">
    <link rel="stylesheet" href="./css/carousel.css">
    <link rel="icon" type="imagem/png" href="imagens/logo_porquinho.png" />
    <title>Cofrin - Login</title>
</head>

<body>
    <header class="" >
        <section class="container container-fluid">
            <div class="mb-4">

                <nav class="navbar navbar-expand-md navbar-dark">
                    <a href="./index.html" class="navbar-brand my-auto">
                        <div class="div-logo my-auto">
                            <h3 class="hover-green my-auto">Cofrin</h3><img class="my-auto" src="./imagens/logo_porquinho.png"
                                alt="logo_porquinho">
                        </div>
                    </a>

                    <button class="navbar-toggler my-auto " type="button" data-toggle="collapse"
                        data-target="#navbarText" aria-controls="navbarText"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse my-auto" id="navbarText">
                        <ul class="navbar-nav mr-auto"></ul>
                        <ul class="navbar-nav  my-2 my-lg-0">
                            <li class="nav-item ml-4 my-md-auto my-1">
                                <a href="./index.html?target=sobre">Sobre</a>
                            </li>
                            <li class="nav-item ml-4 my-md-auto my-1">
                                <a href="./contato.html">Contato</a>
                            </li>
                            <a href="./cadastro.html" class="ml-4 my-2">
                                <li class="nav-item btn green-bgcolor">Cadastre-se</li>
                            </a>
                            <a href="./login.html" class="nav-item ml-4 my-2">
                                <li class="btn btn-green mr-auto">Entrar</li>
                            </a>

                        </ul>
                        
                    </div>
                </nav>
            </div>
            <hr>
        </section>
    </header>
    <main>
        <section class="container container-fluid fadeIn">
            <div class="row">
                <div class="col-md-7 col-sm-12 px-5 text-left">
                    <h1 class="h1-home">Controle suas despesas do <span class="green-color">jeito certo</span></h1>
                    <p class="my-5">Controle e gerencie suas despesas no dia a dia com o cofrin e tenha todos os seus
                        planos realizados com o planejamento certo.</p>
                    <div class="mb-5 d-md-flex d-block text-md-right text-center ">
                        <a href="./cadastro.html" class="btn mt-md-0 mt-4 green-bgcolor btn-large">Cadastrar</a>
                        <a href="?target=saiba-mais" class="btn mt-md-0 mt-4 btn-criar-conta btn-large ">Saiba mais
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-chevron-down" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="col-md-5 fadeImg2 mobile-off">
                    <img src="./imagens/moca_loira.png" alt="Moça olhando para o futuro">
                </div>
            </div>
        </section>
        <section class="bg-white">
            <div class="container container-fluid">
                <section class="row call-action-one my-5 py-5">
                    <div class="col-md-6 px-5 py-5 fadeImg">
                        <img src="./imagens/moca_no_barquinho_borda.png" alt="">
                    </div>
                    <div class="col-md-6 my-auto text-left px-5 fadeIn">
                        <h2 class="h2-home font-blue">Tenha a liberdade que você <span class="green-color">merece</span>
                        </h2>
                        <p>Acesse e monitore de qualquer lugar sem precisar ter que lidar com planilhas e mais planilhas
                            de gastos que te confundem mais do que ajudam</p>
                        <a href="./cadastro.html" class="btn btn-green mt-md-5 btn-large">Cadastrar</a>
                    </div>
                </section>
                <section id="saiba-mais" class="pb-md-5 fadeIn">
                    <h3 class="h3-home font-blue text-center my-md-5 ">Tudo que você precisa em <span class="green-color">um
                            só lugar:</span></h3>
                    <hr class="m-5">
                    <div class="row m-4">
                        <div class="col-lg-4 mb-5">
                            <div class="card border-green px-4">
                                <h4 class="h4-home font-blue"><span class="green-color">1.</span> <br />Planeje seus
                                    gastos</h4>
                                <p class="mt-4">Gráficos interativos com todos os seus gastos mensais</p>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-5">
                            <div class="card border-green px-4">
                                <h4 class="h4-home font-blue"><span class="green-color">2.</span> <br>Débitos
                                    recorrentes</h4>
                                <p class="mt-4">Tenha a noção de quanto de sua renda já está comprometida</p>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-5">
                            <div class="card border-green px-4">
                                <h4 class="h4-home font-blue"><span class="green-color">3.</span> <br>Experiência
                                    personalizada</h4>
                                <p class="mt-4">Personalize e modifique a plataforma de acordo com suas necessidades</p>
                            </div>
                        </div>
                    </div>
                    <hr class="m-5">
                </section>
            </div>
        </section>
        <section class="container container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-9 px-5 my-auto text-right fadeIn">
                    <h2 class="h2-home">Sua vida financeira na <span class="green-color">palma da mão</span></h2>
                    <p class="my-4">Acesse de qualquer lugar sem burocracia</p>
                    <a href="./cadastro.html" class="btn btn-green btn-large mt-md-5">Criar conta</a>
                </div>
                <div class="col-lg-6 col-md-3 p-5 fadeImg">
                    <img src="./imagens/rapaz_lendo.png" alt="">
                </div>
            </div>
        </section>
        <section id="sobre" class="bg-white py-5">
            <div class="container container-fluid">
                <div>
                    <!-- <div class="">
                        <div class="border-green "></div>
                    </div> -->

                    <div>
                        <div class="card-pqusarcofrin radius-up row fadeImg"></div>
                        <div class="bg-gray radius-down justify-content-center row fadeIn">
                            <div class="col-md-5 p-5 text-left ">
                                <h3 class="h4-home font-blue mb-4">Razões para confiar no <span
                                        class="green-color">Cofrin?</span></h3>
                                <p>Aqui seus dados estão seguros e não são públicos, evitando que seus dados trafeguem
                                    pela internet.</p>
                            </div>
                            <div class="col-md-5 p-5 text-left ">
                                <h3 class="h4-home font-blue mb-4">Nós cuidamos de <span class="green-color">você</span>
                                </h3>
                                <p>Em busca de falicitar cada vez mais a sua gestão, estamos implementando dia a dia
                                    mais funcionalidades na plataforma</p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="py-5 text-center fadeIn">
                    <h3 class="h3-home my-md-5">Quem usa <span class="green-color">recomenda:</span></h3>
                    <div class="py-5">
                        <!-- Carrossel -->
                        <div class="slideshow-container row">
                            <a class="col-1 my-auto prev mobile-off" onclick="plusSlides(-1)">&#10094;</a>

                            <div class="mySlides fade col-md-10 col-sm-12">
                                <div class="row ">
                                    <div class="col-sm-5 fadeImg">
                                        <img src="./imagens/menina_sorrindo_celular.png"
                                            alt="Comentario menina celular nokia lumia">
                                    </div>
                                    <div class="col-sm-7 px-5 my-auto text-left">
                                        <span class="green-color" style="font-size: 7rem; line-height: 0;">❝</span>
                                        <h4 class="h4-home font-blue">Consegui ficar muito mais atenta a quanto estava
                                            gastando e me planejar</h4>
                                        <p>Mariana Pires - São Paulo</p>
                                    </div>
                                </div>
                            </div>

                            <div class="mySlides fade col-md-10 col-sm-12">
                                <div class="row ">
                                    <div class="col-sm-5 fadeImg">
                                        <img src="./imagens/menina_sorrindo_celular.png"
                                            alt="Comentario menina celular nokia lumia">
                                    </div>
                                    <div class="col-sm-7 px-5 my-auto text-left">
                                        <span class="green-color" style="font-size: 7rem; line-height: 0;">❝</span>
                                        <h4 class="h4-home font-blue">Consegui ficar muito mais atenta a quanto estava
                                            gastando e me planejar</h4>
                                        <p>Mariana Pires - São Paulo</p>
                                    </div>
                                </div>
                            </div>

                            <div class="mySlides fade col-md-10 col-sm-12">
                                <div class="row ">
                                    <div class="col-sm-5 fadeImg">
                                        <img src="./imagens/menina_sorrindo_celular.png"
                                            alt="Comentario menina celular nokia lumia">
                                    </div>
                                    <div class="col-sm-7 px-5 my-auto text-left">
                                        <span class="green-color" style="font-size: 7rem; line-height: 0;">❝</span>
                                        <h4 class="h4-home font-blue">Consegui ficar muito mais atenta a quanto estava
                                            gastando e me planejar</h4>
                                        <p>Mariana Pires - São Paulo</p>
                                    </div>
                                </div>
                            </div>
                            <a class="col-1 my-auto next mobile-off" onclick="plusSlides(1)">&#10095;</a>
                        </div>

                        <div class="my-5">
                            <span class="dot" onclick="currentSlide(1)"></span>
                            <span class="dot" onclick="currentSlide(2)"></span>
                            <span class="dot" onclick="currentSlide(3)"></span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="container container-fluid">
        <div class="justify-content-center align-items-center row">
            <div class="col-md-5 py-5 align-self-center text-center">
                <h2 class="mt-4 mb-4">Comece a usar o cofrin e passe a ter o controle de <span class="green-color">suas
                        finanças:</span></h2>
                <a href="cadastro.html" class="btn btn-green mt-4 mb-5">Começar</a>
            </div>
        </div>
        <div class="col-12 d-md-flex d-block">
            <a href="./index.html" class="col-md-6 col-12">
                <div class="div-logo fadeImg ">
                    <h3 class="hover-green ml-auto ml-md-0">Cofrin</h3><img class="mr-auto mr-md-0" src="./imagens/logo_porquinho.png" alt="logo_porquinho">
                </div>
            </a>

            <ul class="mb-2 col-md-6  col-12 text-md-right text-center d-md-flex d-block">
                <li class="col-md-6 col-12"><a href="" onclick="event.preventDefault();funcaoIndisponivel();">Termos de uso</a></li>
                <li class="col-md-6 col-12"><a href="" onclick="event.preventDefault();funcaoIndisponivel();">Politica de privacidade</a></li>
            </ul>
        </div>
        <div class="col-sm-12 text-center my-5 ">
            <small>Copyright © 2021 </small>
            <small>Developed by: <a href="https://www.linkedin.com/in/mest/" target="_blank"><span
                        class="green-color">Miguel Eto</span></a></small>
            <small>Design by: <a href="https://www.behance.net/jonathanCotting" target="_blank"><span
                        class="green-color">Jonathan Richard Cotting</span></a></small>
        </div>
    </footer>

    <script src="./js/carousel.js"></script>
    <script src="./js/jquery.min.js"></script>
    <script src="./js/toastr.js"></script>
    <script src="./js/jquery-3.2.1.slim.min.js"></script>
    <script src="./js/popper.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>

    <script>
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        const error = urlParams.get('erro');
        const target = urlParams.get('target');

        if (target) {
            document.getElementById(target).scrollIntoView({ behavior: "smooth" });
        }

        //Toastr
        toastr.options.closeButton = true;
        toastr.options.closeMethod = 'fadeOut';
        toastr.options.closeDuration = 300;
        toastr.options.closeEasing = 'swing';
        toastr.options.preventDuplicates = true;

        $(document).ready(function () {
            if (error == "userorpasswordinvalide") {
                toastr.error('Usuário ou senha incorretos!', 'Erro:')
            } else if (error != null) {
                toastr.warning(error, 'Atenção:')
            }
        });

        function funcaoIndisponivel() {
            toastr.warning('Função indisponivel! Estamos trabalhando para disponibiliza-la o quanto antes!', 'Atenção:', {
                timeOut: 5000
            });
        }
    </script>
</body>

</html>