<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/reset.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/toastr.css" />
    <link rel="icon" type="imagem/png" href="imagens/logo_porquinho.png" />
    <title>Cofrin - Login</title>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta
      name="google-signin-client_id"
  </head>

  <body>
    <header class="mobile-on">
      <section class="container container-fluid">
        <div class="mb-4">
          <nav class="navbar navbar-expand-md navbar-dark">
            <a href="./index.html" class="navbar-brand my-auto">
              <div class="div-logo my-auto">
                <h3 class="hover-green my-auto">Cofrin</h3>
                <img
                  class="my-auto"
                  src="./imagens/logo_porquinho.png"
                  alt="logo_porquinho"
                />
              </div>
            </a>

            <button
              class="navbar-toggler my-auto"
              type="button"
              data-toggle="collapse"
              data-target="#navbarText"
              aria-controls="navbarText"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse my-auto" id="navbarText">
              <ul class="navbar-nav mr-auto"></ul>
              <ul class="navbar-nav my-2 my-lg-0">
                <li class="nav-item ml-4 my-md-auto my-1">
                  <a href="./index.html?target=sobre">Sobre</a>
                </li>
                <li class="nav-item ml-4 my-md-auto my-1">
                  <a href="./contato.html">Contato</a>
                </li>
                <a href="./cadastro.html" class="ml-4 my-2">
                  <li class="nav-item btn green-bgcolor">Cadastre-se</li>
                </a>
                <a href="./login.html" class="nav-item ml-4 my-2">
                  <li class="btn btn-green mr-auto">Entrar</li>
                </a>
              </ul>
            </div>
          </nav>
        </div>
        <hr />
      </section>
    </header>
    <main class="container container-fluid">
      <div class="mobile-off">
        <a href="./index.html">
          <div class="div-logo">
            <h3 class="hover-green">Cofrin</h3>
            <img src="./imagens/logo_porquinho.png" alt="logo_porquinho" />
          </div>
        </a>
        <hr />
      </div>
      <section>
        <form
          class="row fadeIn"
          action="../controller/user_controller.php"
          method="POST"
          autocomplete="on"
        >
          <div class="col-md-6">
            <h1>Log<span class="green-color">in</span></h1>
            <label for="email" class="mt-4">E-mail:</label>
            <input
              id="email"
              type="email"
              class="form-control"
              aria-label="Large"
              placeholder="Ex.: Joao@email.com.br"
              name="email"
              maxlength="50"
              required
            />
            <label for="senha" class="mt-4">Senha:</label>
            <input
              id="senha"
              type="password"
              class="form-control"
              aria-label="Large"
              name="password"
              placeholder="**********"
              required
            />
            <p class="remember-password my-4">
              Esqueceu sua senha? <a href="./recover.html">Clique aqui</a>
            </p>

            <div class="btn-container my-5">
              <button class="button green-bgcolor" type="submit">Login</button>
              <a
                id="btn-criar-conta"
                class="button btn-criar-conta"
                href="./cadastro.html"
                >Criar conta</a
              >
              <div class="d-md-flex mt-4">
                <div class="my-auto mr-2">
                  <div class="g-signin2" data-onsuccess="onSignIn"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 fadeImg mobile-off">
            <div class="img-login">
              <img
                src="./imagens/moca_loira.png"
                alt="Moça olhando para o futuro"
              />
            </div>
          </div>
        </form>
      </section>
    </main>
    <script src="./js/jquery.min.js"></script>
    <script src="./js/toastr.js"></script>
    <script src="./js/jquery-3.2.1.slim.min.js"></script>
    <script src="./js/popper.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
      const queryString = window.location.search;
      const urlParams = new URLSearchParams(queryString);
      const error = urlParams.get("erro");
      var logout = urlParams.get("logout");

      //Toastr
      toastr.options.closeButton = true;
      toastr.options.closeMethod = "fadeOut";
      toastr.options.closeDuration = 300;
      toastr.options.closeEasing = "swing";
      toastr.options.preventDuplicates = true;

      $(document).ready(function () {
        if (error == "userorpasswordinvalide") {
          toastr.error("Usuário ou senha incorretos!", "Erro:");
        } else if (error != null) {
          toastr.warning(error, "Atenção:");
        }
      });

      function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        var userID = profile.getId();
        var userName = profile.getName();
        var userPicture = profile.getImageUrl();
        var userEmail = profile.getEmail();
        var userToken = googleUser.getAuthResponse().id_token;

        //document.getElementById('msg').innerHTML = userEmail;
        if (userEmail !== "") {
          var dados = {
            userID: userID,
            userName: userName,
            userPicture: userPicture,
            userEmail: userEmail,
          };
          if (logout == "true") {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
              console.log("User signed out.");
            });
            logout = false;
            // setTimeout(() => {
            //   window.location.href = "./login.html";
            // }, 5000);
          } else {
            $.post(
              `../controller/user_controller.php?login_google=true`,
              dados,
              function (retorna) {
                if (retorna === "erro") {
                  toastr.error("Erro ao tentar o login com o Google!", {
                    timeOut: 1000,
                  });
                } else {
                  //if (!logout) {
                    window.location.href = "../../app/view/dashboard.php";
                  //}
                }
              }
            );
          }
        } else {
          var msg = "Usuário não encontrado!";
          document.getElementById("msg").innerHTML = msg;
        }
      }
    </script>
  </body>
</html>
