<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/toastr.css">
    <title>Cofrin - Login</title>
</head>

<body>
    <main class="container container-fluid">
        <a href="./index.html">
            <div class="div-logo">
                <h3>Cofrin</h3><img src="./imagens/logo_porquinho.png" alt="logo_porquinho">
            </div>
        </a>
        <hr>
        <section>
            <form class="row" action="../controller/user_controller.php" method="POST" autocomplete="on">
                <div class="col-md-6">
                    <h1>Log<span class="green-color">in</span></h1>
                    <label for="user">E-mail:</label >
                <input id="user" type="email" class="form-control input-cofrin" aria-label="Large" placeholder="Ex.: Joao@email.com.br" name="user" maxlength="50" required>
                <label for="senha">Senha:</label >
                <input id="senha" type="password" class="form-control input-cofrin" aria-label="Large" name="password" placeholder="**********" required>
                <p class="remember-password">Esqueceu sua senha? <a href="../../site/view/recover_password.php">Clique aqui</a></p>
                
            <div class="btn-container">
                <button class="button green-bgcolor" type="submit">Login</button>
                <a id="btn-criar-conta" class="button btn-criar-conta" href='./cadastro.html'>Criar conta</a>
            </div>
            </div>
            <div class="col-md-6">
                <div class="img-login">
                    <img src="./imagens/moca_loira.png" alt="Moça olhando para o futuro">
                </div>
            </div>
        </form>
        </section>
    </main>
    <script src="./js/jquery.min.js"></script>
    <script src="./js/toastr.js"></script>
    <script src="./js/jquery-3.2.1.slim.min.js"></script>
    <script src="./js/popper.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script>
        
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        const error = urlParams.get('erro');
        
        //Toastr
        toastr.options.closeButton = true;
        toastr.options.closeMethod = 'fadeOut';
        toastr.options.closeDuration = 300;
        toastr.options.closeEasing = 'swing';
        toastr.options.preventDuplicates = true;

        $( document ).ready(function() {
            if( error == "userorpasswordinvalide"){
                toastr.error('Usuário ou senha incorretos!','Erro:')
            }else if(error != null){
                toastr.warning(error,'Atenção:')
            }
        });


    </script>
</body>

</html>