.menu-lateral {
    background-color: #9792E3;
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
}

.menu-lateral .btn-sair {
    background-image: url("../images/logout.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1vw;
    background-color: #ff4949;
    border-radius: 0.6vw;
    border: solid #ff4949;
    border-width: 1vw;
    color: #48435C;
    font-weight: 700;
    position: absolute;
    bottom: 1.9vh;
    left: 4vw;
    transition: 0.5s;
}

.menu-lateral h1 {
    color: #5a5766;
    font-weight: 600;
    text-align: center;
    font-size: 3vw !important;
    margin: 1.5vw;
    transition: 0.5s;
}

.menu-lateral h1:hover {
    text-shadow: 0.1vw 0.1vw 0.1vw;
    transition: 0.3s;
}

.menu-lateral .btn-sair:hover {
    background-color: #dd0000;
    border-color: #dd0000;
    color: #edffec;
    transition: 0.5s;
}

.menu-lateral .btn-sair:active {
    box-shadow: -0.3vw -0.3vw 0.5vw #222121;
    transition: 0.2s;
    outline: none;
}

.menu-lateral .btn-sair:checked {
    outline: none;
}

.menu-lateral .lista {
    text-align: center;
}

.lista li {
    font-size: 1.5vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    transition: 0.3s;
}

.lista li:hover {
    background-color: #edffec;
    transition: 0.3s;
}

.feedback {
    font-size: 1vw;
    position: absolute;
    bottom: 20vh;
    left: 2.6vw;
}

@media (max-device-width: 1500px) {
    .menu-lateral {
        overflow: hidden;
        position: fixed;
        display: block;
        padding-left: 6vw;
        padding-right: 10vw;
        top: 0;
        height: 100%;
        left: -44vw;
        transition: 0.5s;
    }
    .menu-lateral:hover:before,
    .menu-lateral:focus:before {
        left: 44vw;
        transition: 0.5s;
    }
    .menu-lateral:hover,
    .menu-lateral:focus,
    .menu-lateral:active {
        overflow-y: scroll;
        -moz-transform: translate(44vw, 0);
        -webkit-transform: translate(44vw, 0);
        -o-transform: translate(44vw, 0);
        transform: translate(44vw, 0);
    }
    .menu-lateral h1 {
        font-size: 10vw !important;
    }
    .menu-lateral .btn-sair {
        padding: 4vw;
        border-width: 2vw;
        border-radius: 2.6vw;
        bottom: 1.9vh;
        left: 20vw;
    }
    .lista li {
        font-size: 4.5vw;
    }
    .feedback {
        font-size: 4vw;
        bottom: 15vh;
        left: 10.6vw;
    }
}

@media (max-device-width:900px) {
    .menu-lateral {
        padding-left: 5vw;
        padding-right: 12vw;
        left: -44vw;
    }
    .menu-lateral:hover:before,
    .menu-lateral:focus:before {
        left: 44vw;
        transition: 0.5s;
    }
    .menu-lateral:hover,
    .menu-lateral:focus,
    .menu-lateral:active {
        overflow-y: scroll;
        -moz-transform: translate(44vw, 0);
        -webkit-transform: translate(44vw, 0);
        -o-transform: translate(44vw, 0);
        transform: translate(44vw, 0);
        transition: 0.5s;
    }
    .menu-lateral .btn-sair {
        bottom: 2.9vh;
        left: 19vw;
    }
    .lista li {
        font-size: 5vw;
    }
    .feedback {
        font-size: 4vw;
        bottom: 14vh;
        left: 7.6vw;
    }
}

@media (max-device-width:500px) {
    .menu-lateral {
        padding-left: 5vw;
        padding-right: 12vw;
        left: -45vw;
    }
    .menu-lateral:hover:before,
    .menu-lateral:focus:before {
        left: 45vw;
        transition: 0.5s;
    }
    .menu-lateral:hover,
    .menu-lateral:focus,
    .menu-lateral:active {
        overflow-y: scroll;
        -moz-transform: translate(45vw, 0);
        -webkit-transform: translate(45vw, 0);
        -o-transform: translate(45vw, 0);
        transform: translate(45vw, 0);
        transition: 0.5s;
    }
    .lista li {
        font-size: 5vw;
    }
    .feedback {
        font-size: 4vw;
        bottom: 14vh;
        left: 7.6vw;
    }
}