@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@500&family=Raleway:wght@500&display=swap");

* {
  font-family: "Raleway", sans-serif !important;
}

h1,
h2,
h3,
p,
small,
input {
  color: #111320;
}

body {
  background-color: #ededed;
}

header {
  background-color: #19d0a0;
  border-radius: 0 0 1em 1em;
}

main {
    background-image: url(../../../dependencies/img/moca_pensando_camisa_verde.png);
    background-repeat: no-repeat;
    background-size: 17em;
    border-radius: 1em;
    background-position: bottom right;
}

@media only screen and (max-width: 768px){
    main{
        background: white;
        border-radius: 1em;
    }
}