* {
  font-family: "Raleway", sans-serif;
}

body {
  overflow-x: hidden;
  background-color: #111320;
  color: #ffffff;
}

a {
  color: #ffffff;
  transition-duration: 0.2s;
}

a:hover {
  text-decoration: none;
  color: #19d0a0;
  transition-duration: 0.2s;
}

p {
  font-size: 1.5rem;
}

.border-green {
  border: solid 2px #19d0a0;
  border-radius: 2rem;
}

.hover-green:hover {
  color: #19d0a0;
  transition-duration: 0.2s;
}

/* .div-flutuante {
    z-index: 1;
    min-height: 93%;
    width: 64%;
    position: absolute;
    margin-top: -3rem;
    margin-left: 2rem;
} */

/* Menu superior */

.menu {
  display: flex;
}

.menu ul {
  margin-left: auto;
  margin-top: -7px;
}

.menu li {
  margin: auto 0 auto 2rem;
}

/* Corpo home */

.bg-white {
  background-color: #ffffff;
  color: #111320;
}

.bg-gray {
  background-color: #ededed;
  color: #111320;
}

/* logo */

.div-logo {
  color: #ffffff;
  height: 3rem;
  display: flex;
}

.div-logo-preta {
  margin: 3vh 3vw;
  color: #111320;
}

.div-logo img {
  height: 1.3rem;
  width: auto;
}

.container {
  margin-top: 30px;
}

hr {
  margin-top: 0.5rem;
  margin-bottom: 2.5rem;
  border: 0;
  border-top: 1px solid #ededed;
}

h3 {
  font-size: large;
  font-weight: bold;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.h1-home {
  font-size: 7rem;
  font-weight: 500;
}

.h2-home {
  font-size: 6rem;
}

.h3-home {
  font-size: 3rem;
}

.h4-home {
  font-size: 2rem;
  font-weight: bold;
}

.font-blue {
  color: #271c72;
}

.card {
  padding: 2rem;
  height: 100%;
}

.card-pqusarcofrin {
  height: 50vh;
  background: url("../imagens/moco_revista_praia.jpg") no-repeat center;
  background-size: cover;
}

.radius-up {
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.radius-down {
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

/* Buttons botoes */

.green-bgcolor {
  border-radius: 10px;
  padding: 0.6rem 3rem;
  background-color: #19d0a0;
  color: #ffffff;
}

.green-bgcolor:hover {
  color: #ffffff;
}

.green-color {
  color: #19d0a0;
}

.btn-green {
  border-radius: 10px;
  padding: 0.5rem 3rem;
  background-color: #19d0a000;
  border: solid 2px #19d0a0;
  color: #19d0a0;
}

.btn-green a {
  color: #19d0a0;
}

.btn-container {
  margin-top: 30px;
}

.btn-large {
  border-radius: 1.1rem !important;
  font-size: 1.5rem;
  padding: 1rem 5rem;
  border-radius: 10px;
  margin-right: 1rem;
}

.button {
  cursor: pointer;
  padding: 0.8vw 4.5vw;
  border-radius: 10px;
  font-weight: 500;
}

.btn-criar-conta {
  background-color: #111320;
  border: #111320;
  color: #ffffff;
}

.btn-criar-conta:hover {
  color: #ffffff;
  text-decoration: none;
  transition-duration: 0.5s;
}

.btn-login-google {
  padding: 0.5rem 3rem 0.5rem 3rem;
  background-color: #ffffff;
  color: #111320;
  margin: 1rem 0.5rem 0 0;
  align-items: center;
  vertical-align: middle;
  justify-content: space-around;
}

.btn-login-facebook {
  padding: 0.5rem 2.5rem 0.5rem 2.5rem;
  background-color: #1278f3;
  color: #ffffff;
  margin: 1rem 0.5rem 0 0;
  align-items: center;
  vertical-align: middle;
  justify-content: space-around;
}

.btn-login-google img {
  margin: -2px 20px 0 -20px;
  width: 1rem;
}

.btn-login-facebook img {
  margin: -5px 20px 0 -20px;
  width: 1rem;
}

.btn-login-google:hover {
  text-decoration: none;
  color: #111320;
}

.btn-login-facebook:hover {
  text-decoration: none;
  color: #ffffff;
}

.input-cofrin {
  height: 3rem;
  border-radius: 8px;
}

.img-login {
  float: right;
  width: 70%;
}

img {
  width: 100%;
}

label {
  font-weight: 500;
  font-size: 1.2rem;
  margin-top: 15px;
}

.remember-password {
  margin-top: 10px;
  font-size: x-small;
  font-weight: 500;
  color: #ededed;
}

.remember-password a {
  color: #ededed;
  text-decoration: underline;
}

.remember-password a:hover {
  color: #19d0a0;
  text-decoration: none;
}

#bg-cadastro {
  height: 100vh;
  background: url("../imagens/girl_in_boat.jpg") no-repeat center;
  background-size: cover;
}

.fixed {
  position: fixed;
}

#container-cadastro {
  padding: 2rem 7rem 2rem 7rem;
}

.separator {
  margin: 1.5rem auto;
  display: flex;
  align-items: center;
  text-align: center;
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ededed;
}

.separator::before {
  margin-right: 0.25em;
}

.separator::after {
  margin-left: 0.25em;
}

.confirm {
  margin: 2rem 0;
}

.confirm input {
}

/* Key frames e efeitos */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation: fadeIn 1s ease-in-out;
  -moz-animation: fadeIn 1s ease-in-out;
  -o-animation: fadeIn 1s ease-in-out;
  animation: fadeIn 1s ease-in-out;
}

.fadeImg {
  opacity: 0;
  -webkit-animation: fadeIn 3s ease-in-out;
  -moz-animation: fadeIn 3s ease-in-out;
  -o-animation: fadeIn 3s ease-in-out;
  animation: fadeIn 3s ease-in-out;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.fadeImg-delay {
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  -o-animation-delay: 3s;
  animation-delay: 3s;
}

.fadeImg2 {
  opacity: 0;
  -webkit-animation: fadeIn 500ms linear;
  -moz-animation: fadeIn 500ms linear;
  -o-animation: fadeIn 500ms linear;
  animation: fadeIn 500ms linear;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.fadeImg2-delay {
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  animation-delay: 6s;
}

@media (min-width: 1600px) {
  .container {
    max-width: 1500px;
  }
}
