@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
#login {
    /*background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');*/
    padding: 200px 0 300px 0;
    background-image: linear-gradient(180deg, #44BBA4, #393E41);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

#login .container {
    height: 100%;
    align-content: center;
}

#login .card {
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.2) !important;
    -webkit-animation: fadein 2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s;
    /* Firefox < 16 */
    -ms-animation: fadein 2s;
    /* Internet Explorer */
    -o-animation: fadein 2s;
    /* Opera < 12.1 */
    animation: fadein 2s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#login .social_icon span {
    font-size: 60px;
    margin-left: 10px;
    color: #E7BB41;
    -webkit-animation: fadein 4s;
}

#login .social_icon span:hover {
    color: white;
    cursor: pointer;
}

#login .card-header h3 {
    color: white;
}

#login .social_icon {
    position: absolute;
    right: 112px;
    top: 373px;
}

#login .input-group-prepend span {
    width: 40px;
    background-color: #E7BB41;
    color: white;
    transition-duration: 0.3s;
    border: 0 !important;
}

#login #div-user:focus-within #span-user {
    width: 50px;
    transition-duration: 0.3s;
    color: #393E41;
    font-size: 1.4em;
}

#login #div-user:focus-within input {
    background-color: #393E41;
    color: #E7E5DF;
}

#login #div-password:focus-within #span-password {
    width: 50px;
    transition-duration: 0.3s;
    color: #393E41;
    font-size: 1.4em;
}

#login #div-password:focus-within input {
    background-color: #393E41;
    color: #E7E5DF;
}

#login input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

#login .remember {
    color: #E7E5DF;
}

#login .remember input {
    width: 20px;
    height: 20px;
}

#login .login_btn {
    color: white;
    background-color: #E7BB41;
    width: 120px;
}

#login .login_btn:hover {
    color: black;
    background-color: #E7E5DF;
}

#login .links {
    color: #E7E5DF;
}

#login .links a {
    margin-left: 4px;
}


/*desativar para ambiente de testes*/

#login #turn_off {
    display: none;
}

#login .noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}