body {
    background-color: #edffec;
    font-family: 'Source Sans Pro', sans-serif;
}

h1,
h2,
h3,
h4,
legend {
    color: #9792e3;
}

p {
    color: #5a5766;
}

a {
    text-decoration: none;
    color: #5A5766;
}

a:hover {
    text-decoration: none;
    color: #48435C;
}

.disabled {
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
    filter: grayscale(1);
}

.conteudo {
    padding-left: 13vw !important;
}

@media (max-device-width:900px) {
    .conteudo {
        padding-left: 10vw !important;
    }
}

@media (max-device-width:500px) {
    h1 {
        font-size: 6vh !important;
    }
}