body{
    font-family: 'Source Sans Pro', sans-serif;
}
header{
    padding: 20px 0px 20px 0px;
    background-color: #393E41;
    text-align: center;
    color: #E7E5DF;
}
main{
    background-color: #44BBA4;
    padding: 20px 10%  100px 10%;
}
#main {
  display: flex;
}
h1{
    font-size: 3em;
    font-weight: 600;
}
h2{
    font-size: 2em;
    font-weight: 400;
    text-align: center;
}
#login{
    margin: 50px 20% 70px 20%;
    text-align: center;
}
h3, h4{
    font-size: 30px;
    margin: 5px 0 5px 0;
    font-weight: 600;
}
p {
    margin: auto 10px auto 10px;
}
footer{
    
}
.redes{
    padding: 100px 0 50px 0;
    background-image: linear-gradient(180deg, #44BBA4, #393E41);
}
.criator{
    padding: 50px 0px 50px 0px;
    background-color: #393E41;
    text-align: center;
    color: #E7E5DF;
}

input{
    width: 100%;
    height: 2em;
    border-radius: 5px;
}
a{
    text-decoration: none;
    color: #D3D0CB;
}
a:hover{
    text-decoration: underline;
    color: aqua;
}
