@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@500&family=Raleway:wght@500&display=swap");

* {
  font-family: "Raleway", sans-serif !important;
}

body {
  background-color: #fff;
}

.number {
  font-family: "Noto Sans HK", sans-serif !important;
}

h1,
h2,
h3,
h4,
legend {
  color: #111320;
}

h1 {
  font-size: 4em;
  font-weight: bold;
}
h2 {
  font-size: 3.5em;
  font-weight: bold;
}
h3 {
  font-size: 2.5em;
  font-weight: bold;
}
h4 {
  font-size: 2em;
  font-weight: bold;
}

h5 {
  font-size: 1.5em;
}

p {
  font-size: 1em;
  color: #111320;
}

small{
  font-size: 0.8em;
}

legend {
  font-size: 1.5vw !important;
}

header {
  margin: 0 !important;
  padding: 0 !important;
  height: 100vh;
}


.cartao {
  margin: 0.5vw;
  box-shadow: 0 0 0.4vw #a0a1a6;
  background: #fff;
  border: none !important;
  border-radius: 1vw;
}

.cartao:hover {
  box-shadow: 0 0 0.4vw #19d0a0;
}

.hover-bg-gray:hover{
  background: #EDEDED;
  border-radius: 0.3rem;
  transition-duration: 0.2s;
}

.hover-red:hover{
  color: #d01962;
  transition-duration: 0.2s;
}

/* Font colors */
.font-white {
  color: #ffffff;
}

.font-purple {
  color: #271c72;
}

.font-green {
  color: #19d0a0;
}

.font-red {
  color: #d01962;
}

.font-gray {
  color: #a0a1a6;
}

.font-title-modal {
  font-size: xx-large;
  font-weight: bold;
  color: #271c72;
}


.bg-gray {
  background-color: #ededed;
}

.bg-green {
  background-color: #19d0a0 !important;
}

.bg-darkgreen:hover {
  background-color: #169e7b !important;
  color: #EDEDED !important;
  transition-duration: 0.3s;
}

.bg-purple {
  background-color: #271c72 !important;
}

a {
  text-decoration: none;
  color: #5a5766;
}

a:hover {
  text-decoration: none;
  color: #111320;
}

.pointer:hover {
  cursor: pointer;
}

.disabled {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
  filter: grayscale(1);
}

.menu-perfil {
  position: absolute;
  bottom: 3vh;
}

.selectable-none {
  -webkit-touch-callout: none; /* iPhone OS, Safari */
  -webkit-user-select: none; /* Chrome, Safari 3 */
  -khtml-user-select: none; /* Safari 2 */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  user-select: none; /* Possível implementação no futuro */
  /* cursor: default; */
}

/* Imagens */
.logo {
  width: 2.3vw;
  height: fit-content;
}
.card-poligono {
  height: 10px;
}

.card-icone {
  height: 35px;
}

.menu-icon {
  width: 20px;
  height: fit-content;
}

