.container-transactions{
    box-shadow: inset 8px 1px 6px black;
    min-height: 100%;
    width: 100vw;
    position: absolute;
    right: 0;
    z-index: 0;
}

.container-transactions-select{
    border-radius: 0.8vw;
    font-size: 0.8em;
    font-weight: bold;
    border: solid 1px gray;
}

.container-transactions-add{
    height: 25px;
}

.container-transactions-add2{
    height: 50px;
}

.card-wallet{
    min-width: 300px !important;
}

.hover-on{
    display: none;
}

.hover-off{
    display: block;
}

.hover-alter:hover .hover-on{
    display: block;
}

.hover-alter:hover .hover-off{
    display: none;
}

.foto-perfil{
    height: 120px;
    width: auto;
}

.side-modal{
    width: 50vw;
    min-height: 100%;
    background-color: #FFF;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: -55%;
    display: none;
    box-shadow: 0px 7px 6px black;
    transition-duration: 0.5s;
}

.side-modal-hidden{
    margin-right:-55%;
}

#lista .emoji{
    height: 3vw !important;
    padding: 4px !important;
}

.btn-white{
    background-color: #FFF !important;
    border: #fff;
}

.btn-white:hover{
    background-color: #EDEDED !important;
    border: #A0A1A6;
}

.btn-p-fixed-bottom-right{
    position: fixed;
    bottom: 5%;
    right: 5%;
}

.btn-p-fixed-bottom-right-2{
    position: fixed;
    bottom: 10%;
    right: 5%;
}

.input-color{
    width: 2em;
    height: 2em;
    padding: 0;
    background: #fff;
    border: 0;
}
